 <h1>Backpacks</h1>
	<% @backpacks.each do |backpack|%>
	<div><%= backpack.title %>

		<%= link_to 'Show',  backpack_path(backpack)%>
        <%= link_to 'Edit', edit_backpack_path(backpack) %>
        <%= link_to 'Destroy', backpack_path(backpack), method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
<% end %>

<div>
<img id="backpacks", src= http://media.mwcradio.com/mimesis/2014-12/29/backpacks_jpg_475x310_q85.jpg>
</div>

<%= link_to 'New product', new_backpack_path %> 
