<p>
  <strong>Product:</strong>
  <%= @backpack.title %>
</p>

<p>
  <strong>Features:</strong>
  <%= @backpack.text %>
</p>

<b>Edit info about feature: </b>
<%= form_for([@backpack, @backpack.features.build]) do |f| %>
  <p>
    <%= f.label :color %><br>
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.label :capacity %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit product', backpacks_path(@backpack)%> 
<%= link_to 'Back to index', backpacks_path %>

