<p>
  <strong>Product:</strong>
  <%= @laptop.title %>
</p>

<p>
  <strong>Brand:<br>
	<%= @laptop.text %>
  </strong>
</p>

<p>
  <strong>Model:<br>
	<%= @laptop.text %>
  </strong>
</p>

<p>
  <strong>Processor Brand:<br>
	<%= @laptop.text %>
  </strong> 	
</p>

<p>
  <strong>RAM Size (in GB):<br>
	<%= @laptop.text %>
  </strong>	
</p>

<p>
  <strong>Price:<br>
	<%= @laptop.text %>
  </strong>	
</p>

<p>
<%= f.submit %>
</p>
<% end %>

<%= link_to 'Edit product', laptops_path(@laptop)%> 
<%= link_to 'Back to index', laptops_path %>

