<h1>Listing products</h1> 
<% @ecommerce.each do |ecommerce|%>
    <div><%= ecommerce.title %> 

        <%= link_to 'Show',  ecommerce_path(article)%>
        <%= link_to 'Edit', edit_ecommerce_path(article) %>
        <%= link_to 'Destroy', ecommerce_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>

    </div>
<% end %>

<p>
    <%= link_to 'New product', new_ecommerce_path %>

</p>