 <h1>eCommerce Platform</h1>
	<% @articles.each do |article|%>
	<div><%= article.title %>

		<%= link_to 'Show',  article_path(article)%>
        <%= link_to 'Edit', edit_article_path(article) %>
        <%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
<% end %>

<p>
    <%= link_to 'New article', new_article_path %> 
</p>

<div><img id="laptops", src= http://im.ziffdavisinternational.com/t/pcmag_me/photo/default/10-best-laptops_8z9p.640.jpg>
<img id="backpacks", src= http://media.mwcradio.com/mimesis/2014-12/29/backpacks_jpg_475x310_q85.jpg>
</div>


